
body {text-align:center; color: powderblue; border:5px solid goldenrod;background-color:#000000}

h1   {color: goldenrod;font-size: 50px;}
p {color: pink; font-size: 20px;} 
.button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: rgb(7, 7, 7);
  background-color: rgb(212, 97, 197);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: rgb(212, 97, 197)}

.button:active {
  background-color: #631040;
  box-shadow: 0 5px #666;
  transform: translateY(4px);  }
#myDiv{display: none;}